<div class="background">
  <div class="card-hearder">
    {{user.company.name}}
    <div class="card">
      <div class="name">
        {{user.name}} {{user.username}}
      </div>
      <div class="info">
        <p>Site : {{user.website}}</p>
        <p>Email : {{user.email}}</p>
        <p>Telephone : {{user.phone}}</p>
      </div>
    </div>
  </div>
</div>
  <div class="forms">
    <h4>Entreprise : </h4>
    <input type="text" name="compagny-label" [(ngModel)]="user.company.name">
    <h4>Nom  : </h4>
    <input type="text" name="compagny-label" [(ngModel)]="user.name">
    <h4>Prénom  : </h4>
    <input type="text" name="compagny-label" [(ngModel)]="user.username">
    <h4>Site  : </h4>
    <input type="text" name="compagny-label" [(ngModel)]="user.website">
    <h4>Email  : </h4>
    <input type="text" name="compagny-label" [(ngModel)]="user.email">
    <h4>Télephone  : </h4>
    <input type="text" name="compagny-label" [(ngModel)]="user.phone">
  </div>
